.wrapper.dark{
    background-color:rgb(32, 30, 30) ;
}
.wrapper.light{
    background-color: rgb(97, 97, 97);
}


body.dark{
    background-color: rgb(51, 50, 50);
}

body.light{
    background-color: rgb(187, 185, 185);
}

h1.dark, h2.dark, h3.dark, h4.dark, h5.dark, h6.dark, p.dark{
    color:white;
}

h1.light, h2.light, h3.light, h4.light, h5.light, h6.light, p.light{
    color: black;
}
.tabs_nav_btn.dark:hover{
    background-color: rgb(73, 73, 73);;
}

.tabs_nav_btn.dark.active{
    background-color: rgb(60, 60, 60);;
}

.tabs_nav_btn.light{
    background-color: rgb(97, 97, 97);
    color: white;
}

.tabs_nav_btn.light:hover{
    background-color: rgb(51, 51, 51);
}

.tabs_nav_btn.light.active{
    background-color: rgb(65, 65, 65);
}
.tabs_content.dark{
    background-color: rgb(120, 120, 120);
}
.tabs_content.light{
    background-color: rgb(54, 54, 54);
}
.tabs_nav_btn.dark{
    background-color:rgb(32, 30, 30);
    color: white;
}
.menu{
    background-color: rgb(64, 64, 64);
}
.mobile_button{
    background-color:rgb(32, 30, 30) ;
}

h4{
    color: white;
}
button:hover{
    background-color: rgb(73, 73, 73);
}
select:hover{
    background-color: rgb(73, 73, 73);
}
select {
    appearance: none;
    text-align: center;
}
.new.changing-color.light{
    color:white;
}

.tabs_nav_btn.changing-color.tab.light.active{
    background-color: rgb(146, 143, 143);
}
.tabs_nav_btn.changing-color.tab.light{
    color:black;
    background-color: rgb(187, 185, 185);
}
.tabs_nav_btn.changing-color.tab.light:hover{
    background-color: rgb(159, 159, 159);
}
.tabs_nav_btn.changing-color.tab.dark{
    background-color: rgb(51, 50, 50);
}
.tabs_nav_btn.changing-color.tab.dark.active{
    background-color: rgb(19, 19, 19);
}
.tabs_nav_btn.changing-color.tab.dark:hover{
    background-color: rgb(35, 35, 35    );
}

