body{
    height: 100%;
    padding: 0 0 40px;
}

.block_manga{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 4px 5px;
    height: 225px;
    width: 175px;
    display: inline-flex;
}
.manga_title{
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-shadow: 0 1px rgba(0,0,0,1);
    margin-block-end: 8px;
    margin-inline-start: 8px;
    margin-inline-end: 0px;
}
.image{
    background: no-repeat;
    min-height: 225px;
    min-width: 175px;
    border: 1px solid black;
    border-radius: 10px;
    background-size:cover;
    display: flex;
    align-items: flex-end;
    box-shadow: 4px 4px 100px 100px rgba(0, 0, 0, 0.25) inset;
}



.tabs_content{
    padding: 15px 30px 30px;
    border-radius: 10px;
    width: 63.5%;
    margin: 5px auto;
    max-width: 1115px;
}
.tabs_nav{
    width: 55%;
    margin: 0 auto;
}

.tabs_nav_btn{
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    margin: 0 1px;
}

.tabs_nav_btn:last-child{
    border-right: 0;
}

.tabs_item{
    display: none;
}
.tabs_item.active{
    display: inline-flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 1750px){
    .tabs_content{
        max-width: 930px;
    }
}
@media screen and (max-width: 1460px){
    .tabs_content{
        max-width: 740px;
    }
}
@media screen and (max-width: 1170px){
    .tabs_content{
        max-width: 555px;
    }
}

@media screen and (max-width: 955px){
    .tabs_nav_btn{
        font-size: 13px;
        padding: 5px 10px;
        white-space: nowrap;
    }
    .tabs_nav{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }
    .tabs_content{
        margin-top: 5px;
    }
    .tabs_content{
        width: 555px;
    }
}

@media screen and (max-width: 695px){
    .tabs_nav_btn{
        font-size: 13px;
        padding: 5px 10px;
    }
    .tabs_nav{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .tabs_content{
        margin-top: 5px;
        max-width: 370px;
        padding: 10px;
    }
   
}

@media screen and (max-width: 465px){
    .image{
        min-height: 190px;
        min-width: 140px;
    }
    .block_manga{
        height: 190px;
        width: 140px;
    }
    .tabs_content{
        max-width: 300px;
    }
}