.open{
    display: flex !important;
}
.content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 75px 0 0 10px;
    align-self: center;
}
.menu{
    margin: 0 15px 0 15px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    max-height: 600px;
    min-width: 250px;
    display: flex;
    align-items: center;
    position: sticky;
    float: right;
    top: 15px;
    
}
.text{
    padding-bottom: 4px;
}
.filter{
    display: flex;
}
.sort{
    display: flex;
}
.wrapper{
    width: 1135px;
    padding: 20px;
    margin: 0 auto 30px;
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
}
.block_manga{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 7px 7px;
    height: 225px;
    width: 175px;
    display: inline-flex;
}
.manga_title{
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-shadow: 0 1px rgba(0,0,0,1);
    margin-block-end: 8px;
    margin-inline-start: 8px;
    margin-inline-end: 0px;
}
.image{
    background: no-repeat;
    min-height: 225px;
    min-width: 175px;
    border: 1px solid black;
    border-radius: 10px;
    background-size:cover;
    display: flex;
    align-items: flex-end;
    box-shadow: 4px 4px 100px 100px rgba(0, 0, 0, 0.25) inset;
}

button{
    border: 1px solid #000000;
    text-align: center;
    border-radius: 5px;
    height: auto;
    width: 100%;
    max-width: 60%;
    padding: 3px 3px 3px 3px;
    font-weight: bold;
    font-size:small;
    justify-content: center;
    align-items: center;
}
button:hover{
    cursor: pointer;
}
.mobile_button{
    display: none;
}
@media screen and (max-width: 1500px){
    .wrapper{
        max-width: 945px;
    }
}
@media screen and (max-width: 1300px){
    .wrapper{
        max-width: 758px;
    }
}
@media screen and (max-width: 1110px){
    .wrapper{
        max-width: 568px;
    }
}
@media screen and (max-width: 920px){
    .menu{
        display: none;
        position: fixed;
        right: 0;
        top:55px;
        margin-right: 0;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        animation: menuAnimation 0.3s;
    }
    .mobile_button{
        display: flex;
        width: 100%;
        position: fixed;
        z-index: 52;
        bottom: 0;
        justify-content: center;
        padding-top: 5px;
    }
    .wrapper{
        margin: 0 10px 0 0;
        padding: 8px;
        
    }
    .image{
        min-width: 130px;
        min-height: 190px;
    }
    .block_manga{
        width: 130px;
        height: 190px;
        padding: 5px
    }
    .js-scroll{
        display: none;
    }

}
@media screen and (max-width: 600px){
    .wrapper{
        max-width: 420px;
    }

}
@media screen and (max-width: 460px){
    .wrapper{
        max-width: 280px;
    }

}
@media screen and (max-height: 686px){
    .filter_item, .sort_item{
        font-size: 14px;
    }
}
@keyframes menuAnimation{
    from {opacity: 0;}
    to {opacity: 1;}
}