{% extends 'base/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style_main_page.css' %}">
{% endblock %}

{% block content %}

    <h1 style="align-self: center; padding: 40px 0 10px;">Популярное</h1>
    <div class="wrapper">
        
    <div class="all_manga">
    {% for manga in popular %}
        
        <a class="block_manga" href="{% url 'mangapage' mangaSlug=manga.slug %}">
            <div class="image" style="background-image: url({{manga.photo.url}});">
                <h4 class="manga_title">
                    {{manga.title}} 
                </h4>
            </div>
        </a>
    {% endfor %}
    </div>
    </div>

    <h1 style="align-self: center; padding: 40px 0 10px;">Недавно обновлённые</h1>
    <div class="wrapper">
        
    <div class="all_manga">
    {% for manga in updated %}
        
        <a class="block_manga" href="{% url 'mangapage' mangaSlug=manga.slug %}">
            <div class="image" style="background-image: url({{manga.photo.url}});">
                <h4 class="manga_title">
                    {{manga.title}} 
                </h4>
            </div>
        </a>
    {% endfor %}
    </div>
    </div>

    <h1 style="align-self: center; padding: 40px 0 10px;">Новое</h1>
    <div class="wrapper">
        
    <div class="all_manga">
    {% for manga in new %}
        
        <a class="block_manga" href="{% url 'mangapage' mangaSlug=manga.slug %}">
            <div class="image" style="background-image: url({{manga.photo.url}});">
                <h4 class="manga_title">
                    {{manga.title}} 
                </h4>
            </div>
        </a>
    {% endfor %}
    </div>
    </div>
    <!--<h1>Недавно обновлённое</h1>
    {% for manga in updated %}
        <table>
            <tr>
                <td>Название</td>
                <td><a href="{% url 'mangapage' mangaSlug=manga.slug %}">{{ manga.title }}</a></td>
            </tr>
            <tr>
                <td>Обложка</td>
                <td><img src="{{ manga.photo.url }}"></img></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ manga.description }}</td>
            </tr>
        </table>
    {% endfor %}

    <h1>Новое</h1>
    {% for manga in new %}
        <table>
            <tr>
                <td>Название</td>
                <td><a href="{% url 'mangapage' mangaSlug=manga.slug %}">{{ manga.title }}</a></td>
            </tr>
            <tr>
                <td>Обложка</td>
                <td><img src="{{ manga.photo.url }}"></img></td>
            </tr>
            <tr>
                <td></td>
                <td>{{ manga.description }}</td>
            </tr>
        </table>
    {% endfor %}
    -->
{% endblock %}