{% extends 'base/base.html' %}

{% block javascript %}

    {{ block.super }}
    {% load static %}
    <script type="text/javascript" src={% static "js/mark.js" %}></script>
    <script type="text/javascript" src={% static "js/list.js" %}></script>
    <script src="{% static 'js/tabs.js' %}"></script>
{% endblock %}

{% block sessiondata %}
    {{ block.super }}
    {{ manga.id|json_script:"manga_id" }}
{% endblock %}

{% block style %}
    {{ block.super }}
    <!--<link rel="stylesheet" href="{% static 'css/style_user.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/style_manga.css' %}">
{% endblock %}


{% block content %}
    <div class="container wrapper">
        <div class="title">
            <div class="block_manga">
                <div class="image" style="background-image: url({{manga.photo.url}});">
                </div>
            </div>
            {% if user.is_authenticated %}

        <div id="listform-container">
            <form id="listform" method="post", enctype="multipart/form-data">
                {% csrf_token %}    
                {{ listForm.list }}
                <button id="listformsubmit" type="submit">Сохранить</button>
                {% if isUserList %}
                    <button id="listformcancel" type="cancel">Удалить из Списка</button>
                {% else %}
                    <button hidden id="listformcancel" type="cancel">Удалить из Списка</button>
                {% endif %}
            </form>
        </div>
        <div id="markform-container">
            <form id="markform" method="post", enctype="multipart/form-data">
                {% csrf_token %}
                {{ markForm.mark }}
                <button id="markformsubmit" type="submit">Сохранить</button>
                {% if isUserMark %}
                    <button id="markformcancel" type="cancel">Удалить Оценку</button>
                {% else %}
                    <button hidden id="markformcancel" type="cancel">Удалить Оценку</button>
                {% endif %}
            </form>
        </div>
    
    {% endif %}
        </div>
        <div class="cont" style="width: 850px; margin-left: 10px;">
        <div class="title_head">
            <h1>{{ manga.title }}</h1>
            <div class="mark_info">
                <div class="title_mark">
                    <!--id мне нужен чтобы через js менять значение через ajax-->
                    {% load floattags %}
                    <h4 id="mark">⭐{{ manga.mark|formatted_float }}</h4>
                </div>
                <div class="count_mark">
                    <!--id мне нужен чтобы через js менять значение через ajax-->
                    {% load inttags %}
                    <h4 id="mark-count"> {{ manga.mark_count|formatted_int }}</h4>
                </div>
            </div>
            <div class="tabs">
                <div class="tabs_nav">
                    <button class="tabs_nav_btn" type="button" data-tab="value">Описание</button>
                    <button class="tabs_nav_btn" type="button" data-tab="value">Главы</button>
                </div>
                <div class="tabs_content">
                    <div class="tabs_item">
                        <h4>{{ manga.description }}</h4>
                    </div>
                    <div class="tabs_item">
                        {% for chapter in chapters %}
                            <div style="display: inline-flex; justify-content: space-between;">
                                <a href="{% url 'readerpage' mangaSlug=manga.slug chapterNumber=chapter.number %}">Глава {{ chapter.number }} {{ chapter.name }}</a> 
                                <span>{{ chapter.date_add }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    
                </div>
            </div>
        </div>
        </div>
    </div>

   
            




{% endblock %}