<!DOCTYPE html>
<html lang='ru'>
    {% load static %}
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        {% block style %}
            <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% endblock %}

        {% block javascript %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% endblock %}

        {% block sessiondata %}
            <!--нужно, чтобы можно было получать доступ к параметрам из реквеста-->
            {{ request.user.username|json_script:"username" }}
            {% block pagedata %}

            {% endblock %}
        
        {% endblock %}

    </head>
    <body>
        
        {% block header %}
            <div class="header">
                <nav class="nav">
                    <ul>
                        <div class="block_left">
                        {% for label, link in mainmenu %}
                        <a href="{% url link %}">{{ label }}</a>
                        {% endfor %}
                        </div>
                        <div class="block_right">
                        {% if user.is_authenticated %}
                        <a href="{% url 'userpage' username=user.username %}">{{ user.username }}</a>
                        <a href="{% url 'logout' %}">Выйти</a>
                        {% else %}
                        <a href="{% url 'login' %}">Войти</a>
                        {% endif %}
                        </div>
                    </ul>
                </nav>
                <div class="burger">
                    <span></span>
                </div>
            </div>
        {% endblock %}


        {% block content %}
            <!--Содержимое страницы-->
        {% endblock %}

        {% block footer %}
        
        {% endblock %}
        
        <script>
            document.querySelector('.burger').addEventListener('click', function() {
            this.classList.toggle('active');
            document.querySelector('.nav').classList.toggle('open');
            })
        </script>
    </body>
</html>