{% extends 'base/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style_auth.css' %}">
<link rel="stylesheet" href="{% static 'css/style_registration.css' %}">
{% endblock %}

{% block header %}

{% endblock %}




{% block content %}

    <h1 style="text-align: center; margin-bottom: 0; padding-left: 10px; margin-top: -10%;">Регистрация</h1>
    <form method="post">
        {% csrf_token %} 
        <div class="wrapper">
        <div class="container">
        <div class="block_row">
            <div class="block_column">
                <a href="{% url 'main' %}" style="margin: 0;">
                    <img class="rounded-circle" src="{% static 'image/go_main.png' %}" alt="Logo" width="18" height="18">
                </a>
            </div>
            <div class="block_column">
                <input type="text" name="username" maxlength="150" required id="id_username" placeholder="Логин">
            </div>
            <div class="block_column">
                <input type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Пароль">
            </div>
            <div class="block_column">
                <input type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Повторите пароль">
            </div>
            <div class="block_column">
                <button type="submit">Зарегистрироваться</button>
            </div>
            <div class="block_column" style="padding: 15px 3px 3px">
                <p style="padding: 0 0 0 30px;">Уже есть аккаунт?</p>
                <a style="text-indent: 5px; padding: 0 30px 0 0; " href="{% url 'login' %}">Войти</a>
            </div>
        </div>
        </div>
        </div>
    </form>
{% endblock %}